@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --background : #F8F9FD;
    --black-primary : #102A43;
    --black-secondary : #627D98;
    --black-hover : #16395A;
    --black-nav : #334E68;
    --blue-primary : #22BDFF;
    --white : #fff;
    --shadow-primary : 0px 4px 8px rgba(217, 217, 217, 0.5);
    --shadow-secondary : 0px 30px 60px rgba(217, 217, 217, 0.5); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease .3s;
    scroll-behavior: smooth;
}

body{
    background: var(--background);
    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
}

.login-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
}

.login-form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-form h1{
    color: var(--black-primary);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 40px;
}

.login-form h1 span{
    color: var(--blue-primary);
}


.login-input{
    display: flex;
    flex-direction: column;
}

input{
    height: 45px;
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--white);
    padding: 20px;
}

input::placeholder{
    font-family: 'Raleway';
    font-size: 12px;
    color: var(--black-secondary);
    font-weight: 500;
}

.login-input a{
    background-color: var(--blue-primary);
    border-radius: 10px;
    height: 45px;
    text-align: center;
    line-height: 43px;
    color: var(--white);
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 2px solid #22BDFF;
}

.login-input a:hover{
    background-color: var(--white);
    color: var(--blue-primary);
    border: 2px solid #22BDFF;
}

.login-form p{
    text-align: center;
    color: var(--black-secondary);
    position: relative;
    margin-bottom: 40px;
}

.login-form p::after{
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: rgba(217, 217, 217, 0.5);
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.login-form p::before{
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: rgba(217, 217, 217, 0.5);
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}


.login-social{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}

.social1{
    max-width: 40px;
    cursor: pointer;
}

.social1 img{
    width: 100%;
}

.social2{
    transform: scale(1.5);
    background-color: var(--white);
    box-shadow: var(--shadow-primary);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}

.social2 img{
    width: 100%;
}

.social1:hover{
    transform: scale(1.2);
}

.login-img{
    display: flex;
    flex-direction: column;

}

.login-img p{
    font-size: 18px;
    color: var(--black-secondary);
    margin-bottom: 30px;
    font-family: 'Raleway';
    font-weight: 500;
    text-align: center;
    line-height: 28px;
}

.login-img p a{
    color: var(--blue-primary);
}





@media (max-width:1024px) {
    .login{
        padding: 0 50px;
    }

    .login-form{
        width: 80%;
    }
}

@media (max-width:1024px) {
    .login{
        padding: 40px 25px;

    }

    .login-form{
        width: 70%;
    }

    

    .login-content{
        grid-template-columns: repeat(1,1fr);
    }

    .login-img{
        margin-top: 60px;
    }
}

@media (max-width:600px) {
    .login-form{
        width: 100%;
    }
    .login-img img{
        display: none;
    }
}